@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}
body {
  border: solid 2px #ccc;
  width: 390px;
  height: 734px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  flex: 1;
  height: 100%;
}

.map-menu {
  background-color: #f4dcb3;
}
.destination-reactive {
  /* transform: translateY("240px"); */
  bottom: -240px;
}
