s.album {
  width: 100%;
}
.albumMain {
  width: 320px;
  height: 408px;
  margin: 0 auto 0;
  background-color: #b58e61;
  border-radius: 10px;
  border: 1px solid #fefefe;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.photograph {
  width: 262px;
  height: 200px;
  background-color: #f7e7c8;
  margin: 20px auto 20px;
  border: 1px solid #fefefe;
}

.photograph img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.albumMain > h2 {
  font-size: 40px;
  text-align: center;
  color: #fefefe;
}
.albumMain > p {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #fefefe;
  text-align: center;
  background-color: #e4c398;
  margin-top: 10px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 35px;
  color: #fefefe;
  margin-top: 6px;
}
